@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
  --color-on-primary-fixed: #041a3f;
  --color-primary-container: #0a1f44;
  --color-on-background: #1b1b1e;
  --color-on-secondary-fixed-variant: #5c4300;
  --color-on-error-container: #93000a;
  --color-secondary-fixed: #ffdfa0;
  --color-primary: #00081e;
  --color-on-secondary-fixed: #261a00;
  --color-on-surface-variant: #44464e;
  --color-on-secondary-container: #715300;
  --color-surface-container-low: #f5f3f7;
  --color-on-error: #ffffff;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #673c1e;
  --color-secondary-fixed-dim: #f6be39;
  --color-primary-fixed-dim: #b4c6f4;
  --color-surface: #fbf8fc;
  --color-surface-container: #efedf1;
  --color-surface-tint: #4c5e86;
  --color-on-tertiary-fixed: #311300;
  --color-surface-dim: #dbd9dd;
  --color-surface-container-high: #e9e7eb;
  --color-inverse-primary: #b4c6f4;
  --color-on-tertiary-container: #b37c59;
  --color-on-primary-container: #7687b2;
  --color-tertiary: #150500;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed: #ffdbc7;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-container: #391700;
  --color-primary-fixed: #d9e2ff;
  --color-background: #fbf8fc;
  --color-on-primary-fixed-variant: #34466d;
  --color-surface-variant: #e4e2e5;
  --color-on-secondary: #ffffff;
  --color-tertiary-fixed-dim: #f8b992;
  --color-on-primary: #ffffff;
  --color-secondary-container: #ffc641;
  --color-inverse-surface: #303033;
  --color-on-surface: #1b1b1e;
  --color-surface-bright: #fbf8fc;
  --color-secondary: #795900;
  --color-error-container: #ffdad6;
  --color-inverse-on-surface: #f2f0f4;
  --color-outline-variant: #c5c6cf;
  --color-outline: #75777f;
  --color-surface-container-highest: #e4e2e5;
  --font-family-headline: 'Inter', sans-serif;
  --font-family-body: 'Inter', sans-serif;
  --font-family-label: 'Inter', sans-serif;
  --border-radius-default: 0.125rem;
  --border-radius-lg: 0.25rem;
  --border-radius-xl: 0.5rem;
  --border-radius-full: 0.75rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Hide scrollbar for marquee */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}